{% extends "base.html" %}
{% block content %}
  <div class="menu">
    <p>Topic: {{ topic }}</p>
    <p>Entries:</p>
    <p>
      <a href="{% url 'learning_logs:new_entry' topic.id %}">add new entry</a>
    </p>
    <ul class="menu__list">
      {% for entry in entries %}
        <li class="menu__item">
          <p>{{ entry.date_added|date }}</p>
          <p>{{ entry.text|linebreaks }}</p>
          <p>
            <a href="{% url 'learning_logs:edit_entry' entry.id %}">Edit entry</a>
          </p>
        </li>
      {% empty %}
        <li class="menu__item">There are no entries for this topic yet</li>
      {% endfor %}
    </ul>
  </div>
{% endblock content %}
