{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name='keywords' content='foo,bar' />
    <meta name='description' content='foo' />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Learning Log</title>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% comment %} {% bootstrap_javascript jquery='full' %} {% endcomment %}
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light mb-4 border">
      <a class="navbar-brand" href="{% url 'learning_logs:home' %}">Learning Log</a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarCollapse"
              aria-controls="navbarCollapse"
              aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'learning_logs:topics' %}">Topics</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
            <li class="nav-item">
              <span class="navbar-text">Hello, {{ user.username }}.</span>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'users:logout' %}">Log out</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'users:register' %}">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'users:login' %}">Log in</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <main role="main" class="container">
      <div class="pb-2 mb-2 border-bottom">
        {% block page_header %}
        {% endblock page_header %}
      </div>
      <div>
        {% block content %}
        {% endblock content %}
      </div>
    </main>
    {% comment %} <aside>
      <span class="logo">Learning_log</span>
      <h3>Навигация</h3>
      <ul>
        {% if user.is_authenticated %}
          Hello, {{ user.username }}.
          <a href="{% url 'users:logout' %}">
            <li>
              <i class="fas fa-unlock"></i>log out
            </li>
          </a>
        {% else %}
          <a href="{% url 'users:login' %}">
            <li>
              <i class="fas fa-lock"></i>Log In
            </li>
          </a>
          <a href="{% url 'users:register' %}">Register</a>
        {% endif %}
        <a href="{% url 'learning_logs:home' %}">
          <li>
            <i class="fas fa-home"></i>Main
          </li>
        </a>
        <a href="{% url 'learning_logs:about' %}">
          <li>
            <i class="fas fa-address-card"></i>About
          </li>
        </a>
        <a href="">
          <li>
            <i class="fas fa-paper-plane"></i>Contacts
          </li>
        </a>
        <a href="{% url 'news:news_home' %}">
          <li>
            <i class="fas fa-newspaper"></i>News
          </li>
        </a>
        <a href="{% url 'learning_logs:topics' %}">
          <li>
            <i class="fas fa-sticky-note">Topics</i>
          </li>
        </a>
        <a href="{% url 'news:create' %}">
          <li>
            <button class="btn btn-info">
              <i class="fas fa-plus-circle"></i>Добавить запись
            </button>
          </li>
        </a>
      </ul>
    </aside>
    <main>
      {% block content %}
      {% endblock content %}
    </main> {% endcomment %}
  </body>
</html>
